/* Declare the Menlo font family */
@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('Font/Menlo-Regular.woff') format('woff');
}

:root {
    --light: #C5CFDA;
    --mist: #90AFC5;
    --stone: #336B87;
    --shadow: #2A3132;
    --foliage: #221d1c;
}

/* Core Component Styles */
body {
    overflow: scroll;
    margin:0px;
    padding: 0px; 
}

/* Map Styles */
.map{
    overflow: hidden; 
    position: relative; 
    background-color: var(--mist); 
    display: block;
    width: 100%;
    min-width: 100%;
}


/* SVG Styles */
path {
    stroke:black;
    stroke-width: 1px;
    fill:var(--mist);
}

/* About Styles */
.about {
    display: flex; 
    flex-direction: column;
    padding: 45px;
    background-color: var(--stone); 
}

.aboutClock {
    display: flex;
    justify-content: center; 
}

.clockContainer {
    margin: 20px;
    border: solid; 
    border-width: 2px;
    border-radius: 5px;
    padding: 5px; 
    display: inline-block;
    background-color: #C5CFDA;
    font-family: 'Noto Serif JP', serif;
}

/* Clock styles in the map section.  */
.tooltip {
    position: absolute; 
    visibility: hidden;
    z-index: 10; 
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    color: var(--shadow);
    border: solid; 
    border-width: 2px;
    border-radius: 5px;
    padding: 5px; 
    font-family: 'Noto Serif JP', serif;
}

.tooltipTz {
    display: flex; 
    justify-content: center;
    text-align: center; 
    font-size: 20px; 
    color: var(--shadow); 
}

.tooltipClock {
    display: flex;
    justify-content: center; 
    text-align: center; 
    font-size: 25px; 
    color: black;
}

.tooltipCaption {
    display: flex; 
    justify-content: center; 
    text-align: center;
    font-size: 20px;
    color: var(--shadow); 
}

/* Clock styles in the about section. */
.clock {
    width: 100%;
    font-size: 30px;
    text-align: center; 
    margin: auto;
    color: black; 
 }

 .tz {
    display: flex;
    font-size: 23px; 
    color: var(--shadow); 
    justify-content: center;
    text-align: center; 
}

 .caption {
    display: flex; 
    font-size: 20px; 
    color: var(--shadow); 
    justify-content: center; 
    text-align: center; 
 }

.title {
    color:white; 
    text-align: center;
    font-size: 35px; 
    font-family: 'Noto Serif JP', serif;
}

.walltext {
    position: relative; 
    color:white; 
    font-family: 'Noto Serif JP', serif;
    font-size: 25px; 
    text-align: justify;
}

.footer {
    background-color: var(--mist);
    color: var(--shadow);
    min-height: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: 'Noto Serif JP', serif;
}