/* Declare the Menlo font family */
@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Menlo Regular'), url('Font/Menlo-Regular.woff') format('woff');
}

:root {
    --light: #C5CFDA;
    --mist: #90AFC5;
    --stone: #336B87;
    --shadow: #2A3132;
    --foliage: #221d1c;
}

/* Core Component Styles */
body {
    overflow: scroll;
    margin:0px;
    padding: 0px; 
}

/* Clock styles in the map section.  */
.tooltip {
    position: absolute; 
    visibility: hidden;
    z-index: 10; 
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    color: var(--shadow);
    border: solid; 
    border-width: 2px;
    border-radius: 5px;
    padding: 5px; 
    font-family: 'Noto Serif JP', serif;
}

.tooltipTz {
    display: flex; 
    justify-content: center;
    text-align: center; 
    font-size: 20px; 
    color: var(--shadow); 
}

.tooltipClock {
    display: flex;
    justify-content: center; 
    text-align: center; 
    font-size: 25px; 
    color: black;
}

.tooltipCaption {
    display: flex; 
    justify-content: center; 
    text-align: center;
    font-size: 20px;
    color: var(--shadow); 
}


/* Map Styles */
.map{
    overflow: hidden; 
    position: relative; 
    background-color: var(--mist); 
    display: block;
    width: 100%;
    min-width: 100%;
}

/* SVG Styles */
path {
    stroke:black;
    stroke-width: 1px;
    fill:var(--mist);
}

/* About Styles */
.about {
    display: flex; 
    flex-direction: column;
    /* top, right, bottom, left */
    padding: 25px;
    background-color: var(--stone); 
}

/* Clock styles in the about section. */
.aboutClock {
    display: flex;
    justify-content: center; 
}

.clockContainer {
    margin: 20px;
    border: solid; 
    border-width: 2px;
    border-radius: 20px;
    padding: 10px; 
    display: inline-block;
    background-color: #C5CFDA;
    font-family: 'Noto Serif JP', serif;
}

.clock {
    width: 100%;
    font-size: 30px;
    text-align: center; 
    margin: auto;
    color: black; 
 }

 .tz {
    display: flex;
    font-size: 23px; 
    color: var(--shadow); 
    justify-content: center;
    text-align: center; 
}

 .caption {
    display: flex; 
    font-size: 20px; 
    color: var(--shadow); 
    justify-content: center; 
    text-align: center; 
 }

.title {
    color:white; 
    text-align: center;
    font-size: 40px; 
    font-family: 'Noto Serif JP', serif;
}

.walltext {
    position: relative; 
    color:white; 
    font-family: 'Noto Serif JP', serif;
    font-size: 25px; 
    text-align: justify;
}

.footer {
    background-color: var(--mist);
    color: var(--shadow);
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 30px;
    text-align: center; 
    font-family: 'Noto Serif JP', serif;
    font-size: 15px; 
}

/* Media Queries For Different Sized Devices */

/* IPAD */
@media only screen and (max-width: 768px){
    /* // Update tooltip (come up with another way to show it) */
    /* Map section */

    /* About section */
    .title {
        font-size: 40px; 
    }
    .clockContainer {
        padding: 5px;
        margin: 15px; 
    }
    .clock {
        font-size: 25px; 
    }
    .tz {
        font-size: 20px;
    }
    .walltext {
        font-size: 20px;
    }
}

/* iPhone 414px and less */
@media only screen and (max-width: 414px){
    /* // Update tooltip (come up with another way to show it) */
    /* Map section */

    /* About section */
    .about {
        padding: 20px 17px 20px 17px; 
    }
    .title {
        font-size: 28px; 
    }
    .clockContainer {
        padding: 5px;
    }
    .clock {
        font-size: 20px; 
    }
    .tz {
        font-size: 15px;
    }
    .caption {
        font-size: 15px;
    }
    .walltext {
        font-size: 15px;
    }
    .footer {
        font-size: 15px; 
    }
}